.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile {
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.avatar_wrapper {
    margin: 1rem;
}

.avatar {
    width: 8rem;
    height: 8rem;
    position: relative;
    border-radius: 10%;
    overflow: hidden;
}

.username {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 0.5rem;
}
